jax==0.4.1
numpy==1.19.*
ftfy==5.8
pandas==1.5.2
scikit-learn==0.24.*
torch==1.13.*
numba==0.54.*
matplotlib==3.2.*
seaborn==0.11.*
tensorflow_datasets==4.7.*
dm-haiku==0.0.9
dm-pix==0.3.4
flax==0.6.3
optax==0.1.4
jaxlib==0.4.1
tensorflow==2.9.1
tqdm==4.64.*
jaxtyping==0.2.7
scipy==1.10.0
ml_collections
einops
jupyterlab
regex
scipy
black
codecov
pep8
