jax==0.3.13
numpy==1.19.*
ftfy==5.8
pandas==1.0.*
scikit-learn==0.24.*
torch==1.12.*
numba==0.53.*
matplotlib==3.2.*
seaborn==0.11.*
tensorflow_datasets==4.7.*
dm-haiku==0.0.*
dm-pix==0.3.4
flax==0.5.*
optax==0.1.2
jaxlib==0.3.10
tensorflow==2.9.*
tqdm==4.64.*
ml_collections
einops
jupyterlab
regex
scipy
codecov
pep8
